*{
    box-sizing: border-box;
}

body{
    background-color: white;
    
}

#chart_div{
    margin-left: 20%;
    right: 0;
}

/*Esta es la barra superior*/
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0c4c85;
    z-index: 100;  
     
}

.menu .inicio img{
    height: 32px;
    margin-top: 6px;
    margin-right: 5px;
    transform: translate(-5.5px, 0%);
}


.menu li{
    float: left;
    display: flex;
}

.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
}

.user:hover{
    background-color: #3490ec;
}

.inicio{
    background-color: #4a9ae9;
}

.menu .user {
    float: right;
}

.menu .shut{
    float: right;
    transform: scale(0.7);
  
}

.menu a.shutdown{
    height: 45px;
    margin-bottom: 0px;
    padding: 1px;
}

.menu a.shutdown img{
    margin-right: 10px;
}

.menu a.shutdown img:hover{
    filter: saturate(200%);
}


/*Aqui empieza la barra lateral*/

.barralateral{
    z-index: 1;
    list-style-type: none;
    left: 0;
    background-color: #0c4c85;
    overflow: visible;
    position: fixed;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 49px;
    
}

.barralateral li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 13.9px;   
}

.barralateral li{
    padding: 12px;
    left: 0;
    border-bottom: 1px solid white;
    
    
}

.barralateral li:hover{
    background-color: #3490ec;
   
}

/*Aqui empieza el menu de prductos de la barra lateral*/

.datos_productos{
    background-color: #3490ec;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    left: 0;
    padding: 0%;
    text-align: center;
    justify-items: center;
    width: 130%;
}

.barralateral .datos_productos{
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 101%;
    top: -0.01%;
}

.datos_productos{
    list-style-type: none;
}


/*Aqui empieza el menu de proveedores de la barra lateral*/

.datos_proveedores{
    background-color: #3490ec;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    left: 0;
    padding: 0%;
    text-align: center;
    justify-items: center;
    width: 130%;
}

.barralateral .datos_proveedores{
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 101%;
    top: 7.4%;
    
}

.datos_proveedores{
    list-style-type: none;
}


/*Aqui esta el menu usuario de la barra lateral*/
.datos_usuarios{
    background-color: #3490ec;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    left: 0;
    padding: 0%;
    text-align: center;
    justify-items: center;
    width: 130%;
}

.barralateral .datos_usuarios{
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 101%;
    top: 96px;
}

.barralateral :hover > ul{
    opacity: 1;
    visibility: visible;
}

.datos_usuarios{
    list-style-type: none;
}

#content img{
    margin-top: 5%;
    margin-left: 15%;

    border: blue;
    border-style:solid;
    border-radius: 10px;
    right: 0;
    width: 900px;
    height: 500px;
}

/* ///////////////////////////// */

footer{
    background-color: #003E75;
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    
     
}

.footerContainer1{
    width: 100%;
    max-width: 1200px;
    
}

.containerFooter{
 display: flex; 
 justify-content: space-between;  
}

.colum1{
    max-width: 50%;
    text-align: center;
}
.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: white;
    margin-top: 20px;
}

.colum2{
    max-width: 50%;
    text-align: center;

}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 10px;
    display: flex;
}

.row label{
    margin-top: 10px;
    margin-left: 7px;
    
}

.row img{
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 1100px){
    
    .container1{
        flex: wrap;
    }
}

@media all and (max-width: 600px){
    div{
        width:100%;
        height:auto;
        margin-left:10px;
    }
}

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
}

.banner{
    background-color: black;
    color: rgb(109, 218, 181);
    padding: 10px;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-direction: column;
}

.txt-center {
    text-align: center;
  }
  .hide {
    display: none;
  }
  
  .clear {
    float: none;
    clear: both;
  }
  
  .rating {
      transform: translate(197px, 10px);
      width: 90px;
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
      position: relative;
  }
  
  .rating > label {
      float: right;
      display: inline;
      padding: 0;
      margin: 0;
      position: relative;
      width: 1.1em;
      cursor: pointer;
      color: #000;
  }
  
  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label {
      color: transparent;
  }
  
  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating > input.radio-btn:checked ~ label:before,
  .rating > input.radio-btn:checked ~ label:before {
      content: "\2605";
      position: absolute;
      left: 0;
      color: #FFD700;
  }
  
/* AQUI ES EL DISEÑO DEL FORMULARIO EDITAR */
.content-form-proveedor{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em;
    transform: translate(95px, 0%);
}

.content-form-proveedor h1{
    text-align: center;
}

.formulario-wrapper{
    box-shadow: 0 0 20px rgba(92, 91, 91, 0.685) ;
    border-radius: 30px;
}

.formulario-wrapper >*{
    padding: 1em;
}

.proveedores-form{
    background-color: rgb(53, 71, 116);
    color: white;
    border-radius: 30px;
}

.proveedores-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proveedores-form .block{
grid-column: 1/3;
} 

.proveedores-form p{
    margin: 0;
    padding: 0.5em;
}

.proveedores-form form button, .proveedores-form input, .proveedores-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: inset 1px 5px 20px rgba(63, 63, 65, 0.671);
}

.proveedores-form form .btn{
    box-shadow: none;
    background-color: rgb(38, 82, 201);
    color: white;
    padding: 1em;
}
.proveedores-form form .btn:hover{
    background-color: rgb(43, 73, 172);
   
}

/* large screen */
@media (min-width: 700PX){
    body{
       padding: 0 4rem; 
    }

    .proveedores-form form{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .proveedores-form .block{
        grid-column: 3/3;
        
    }
}

#tabla table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    position: fixed;
    overflow-x: scroll;
    transform: translate(10px, 0);
    
    

}

#tabla th{
    padding: 15px;
}

#tabla td{
    padding: 5px;
}

#tabla thead{
    background-color: #1f6099;
    border-bottom: solid 5px #b8b8b8;
    color: white;
}

#tabla tr:nth-child(even){
    background-color: #ddd;
}

#tabla tr:hover td{
    background-color: #063358;
    color: white;
}

/* /////////////////DISEÑO PRODUCTOS/////////////////////////// */
.Resultado{
    margin-top: 20%;
} 

#buscar{
    margin-left: 70%;
}

.formulario{
    width:                40%;
    border:               solid snow;
   
    background-color: #B3C5DF;

}
#formulario{
    margin-left: 300px;

}
#brncan{
    text-decoration: none;
    border: 1px solid #295CA7;
    background-color: #93ADD2;
    width: 70px ;
    color: snow;
}
h1{margin: 54px;}
.a{
    margin-left: 15%;
}

