{% extends "servicios.html" %}
    {% block title %}Crear producto{% endblock %}
{% block contentimg %}
{% if rol == "SuperAdmin" or rol == "Admin" %}
    <form class="formulario" id="formulario" name="formulario"action="/crear/producto" method="POST">
        <div class="fil"  >
                <h1>Agregar Producto</h1>

            <div class="b"><br>
            <hr><br>
            </div>
            <!-- id pud y id linea -->
            </div>
            <div class="fil">
                <label>Codigo:</label>
                <input type="number" name="codigo" id="codigo" value="{{codigo}}">
            </div>
            <div class="fil">
                <label>Marca: </label>
                <select name="selectlinea" id="">
                    <option value="value0" >--Escoja una marca--</option>
                    {% for i in range(longl) %}
                        <option value="{{rowl[i]['id_linea']}}">{{rowl[i]['nom_linea']}}</option>
                    {% endfor %}

                </select>    
            </div>
            <!-- id provedor y id calificacion -->
            <div class="fil">
                <label>Proveedor: </label>
                <select name="selectprov" id="">
                    <option value="value0" selected>--Escoja un Proveedor--</option>
                    {% for i in range(longp) %}
                        <option value="{{rowp[i]['id_proveedor']}}">{{rowp[i]['nom_proveedor']}}</option>
                    {% endfor %}
                </select>    
            </div>
            <!-- lote y codigo -->
            <div class="fil">
                <label>Lote:</label>
                <input type="number" name="lote" id="lote" min="1" value="{{lote}}">
            </div>
            
            <!-- descripcion de prod -->
            <div class="fil">
                <label>Descripcion:</label>
                <textarea name="destxt" id="destxt" placeholder="color,tamaño,peso,funcionalidad,año,ect" data="{{descrp}}"></textarea>
            </div>
            <!-- serial prod y fecha lote -->
            <div class="fil">
                <label>Serial del producto:</label>
                <input type="number" name="serpod" id="serprod"  min="1" value="{{serialprod}}">
            </div>
            <div class="fil">
                <label>Fecha Lote:</label>
                <input type="date" name="fechlot" id="fechlot"  min="1" value="{{fechaLote}}">
            </div>
        
                
            <!--  stock  y Cant-REQUERIDA -->
            <div class="fil">
                <label> Min:</label>
                <input type="number" name="num2" id="num2" min="1" value="{{cantRequerida}}">
            </div>
                <div class="fil">
                <label>Cantidad en bodega:</label>
                <input type="number" name="num1" id="num1" required min="1" value="{{cantBodega}}">
            </div>
                
            <!-- PRECIO--> 
            <div class="fil">
                <label>precio del prod:</label>
                <input type="number" name="precio" id="precio" value="{{precioProd}}">
            </div>
            <div class="b"><br>
            <hr><br>
            </div>
            <!-- botones -->
            <div class="fil">
                <input type="submit" id="btnagr" name="btnagr"  value="Agregar">
                <a href="/servicios" id="brncan">Cancelar </a>
                {% for msg in get_flashed_messages() %}
        <div align="center">
            {{ msg }}
        {% endfor %}
        </div>
            </div>
            <div class="b"><br>
                <hr><br>
            </div>
            
    </form>    
    
{% endif %}
{% endblock %}
    
