{% extends "servicios.html" %}
    {% block title %}Crear producto{% endblock %}
{% block contentimg %}
{% if rol == "SuperAdmin" or rol == "Admin" %}
    <form class="formulario" id="formulario" name="formulario"action="/crear/producto" method="POST">
        <div class="fil"  >
                <h1>Agregar Producto</h1>

            <div class="b"><br>
            <hr><br>
            </div>
            <!-- id pud y id linea -->
            </div>
            

            <div class="fil">
                <label>Id linea:</label>
                <input type="number" name="lineaid" id="lineaid">  
            </div>
            <!-- id provedor y id calificacion -->
            <div class="fil">
                <label>proveedor:</label>
                <input type="text" name="prov" id="prov">
            </div>
            <div class="fil">
                <label>Id Calificacion:</label>
                <input type="number" name="calinum" id="calinum" min="1" max="5">
            </div>
        
            <!-- lote y codigo -->
            <div class="fil">
                <label>Lote:</label>
                <input type="number" name="lote" id="lote" min="1">
            </div>
            <div class="fil">
                <label>Referencia:</label>
                <input type="number" name="ref" id="ref">
            </div>
            <!-- descripcion de prod ynombre-->
            <div class="fil">
                <label>Nombre:</label>
                <input type="text" name="nomtxt" id="nomtxt">
            </div>
            <div class="fil">
                <label>Descripcion:</label>
                <textarea name="destxt" id="destxt" placeholder="color,tamaño,peso,funcionalidad,año,ect"></textarea>
            </div>
            <!-- serial prod y fecha lote -->
            <div class="fil">
                <label>Serial del producto:</label>
                <input type="number" name="serpod" id="serprod"  min="1">
            </div>
            <div class="fil">
                <label>Fecha Lote:</label>
                <input type="date" name="fechlot" id="fechlot"  min="1">
            </div>
        
                
            <!--  stock  y Cant-REQUERIDA -->
            <div class="fil">
                <label> Min:</label>
                <input type="number" name="num2" id="num2" min="1">
            </div>
                <div class="fil">
                <label>Cantidad en bodega:</label>
                <input type="number" name="num1" id="num1" required min="1">
            </div>
                
            <!-- PRECIO--> 
            <div class="fil">
                <label>precio del prod:</label>
                <input type="number" name="precio" id="precio">
            </div>
            <div class="b"><br>
            <hr><br>
            </div>
            <!-- botones -->
            <div class="fil">
                <input type="submit" id="btnagr" name="btnagr"  value="Agregar">
                <a href="/servicios" id="brncan">Cancelar </a>
            </div>
            <div class="b"><br>
                <hr><br>
            </div>
        </div>
    </form>    
    
{% endif %}
{% endblock %}
    
