{% extends "servicios.html" %}
{% block title %}buscar producto{% endblock %}
{% block contentimg %}
<br><br><br>

<div>
    <form action="/buscar/producto" method="POST"  class="a" id="tabla">
            <div align="center">
                
                <tr>
                    <td><label for="buscar"> Buscar: </label></td>
                    <td><input type="search" name="bp" id=""></td>
                </tr>
            </div>
    </form>    
            {% if resultado != "" %}
            <table  cellspacing="2" cellpadding="20" border="1" bgcolor=dddddd  class="a">
              <thead>
                  <tr>
                    <th>Id_producto</th>
                    <th>Id_linea</th>
                    <th>Id_proveedor</th>
                    <th>id_calificacion</th>
                    <th>Lote</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Cantidad en bodega</th>
                    <th>serial_producto</th>
                    <th>Fecha Lote</th>
                    <th>Nombre</th>
                    <th>Cantidad requerida</th>
                    <th>Precio</th>                    
                  </tr>
              </thead> 
              <tbody>
                  <tr>
                      {% for i in range (long) %}
                      <td>
                          {{rows[i]}}
                      </td>
                      {% endfor %}
                  </tr>
              </tbody> 
                
                   
               

            </table>
        
        {% endif %}
    
</div>
{% endblock %}
