{% extends "servicios.html" %}
{% block title %}busqueda de proveedor por producto especifico{% endblock %}
{% block contentimg %}
<br><br><br>
<div align="center">
    <form action="" method="POST"  class="a" id="tabla">
            <div align="center">
                
                <tr>
                    <td><label for="buscar"> Buscar: </label></td>
                    <td><input type="search" name="bp" id=""></td>
                </tr>
            </div>
    </form>  
    <br>  
    {% if resultado != "" %}
        <table  cellspacing="2" cellpadding="20" border="1" bgcolor=dddddd  class="a">
            <thead>
                <tr>
                <th>Id_proveedor</th>
                <th>Nombre proveedor</th>
                <th>Id_linea</th>
                <th>Id_Producto</th>           
                </tr>
            </thead> 
            <tbody>
                {% for i in range(long) %}
                <tr>
                    <td>
                        {{rows[i]['id_proveedor']}}
                    </td>
                    <td>
                        {{rows[i]['nom_proveedor']}}
                    </td>
                    <td>
                        {{rows[i]['id_linea']}}
                    </td>
                    <td>
                        {{rows[i]['nom_linea']}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    {% endif %}    
</div>
{% endblock %}