{% extends "servicios.html" %}
{% block title %}Crear Marca{% endblock %}
{% block contentimg %}
<br><br><br>
<form action="/marca/crear" method="post">
    {{ frm.hidden_tag() }}
    <table align="center">
    
        <p>
            <tr>
                <td>{{ frm.nom_linea.label }}</td>
                <td>{{ frm.nom_linea }}</td>
            </tr>
            
        </p>
        <p>
            <tr>
                <td>{{ frm.desc_linea.label }}</td>
                <td>{{ frm.desc_linea }}</td>
            </tr>
        </p>    
    </table>
    <br>
        {% for msg in get_flashed_messages() %}
            <div align="center">
            {{ msg }}
            </div >
        {% endfor %}
    <table align="center">
    <tr>
        <td>{{ frm.enviar }}</td>
    </tr>
    </table>
    
</form>
{% endblock %}