{% extends "servicios.html" %}
{% block title %}Cambiar Contraseña{% endblock %}
    {% block contentimg %}
    <div class="centrado">
        <form action="" method="post">
            {{ frm.hidden_tag() }}
            <br><br><br>
            <table align="center">
            
            <p>
                <tr><td>{{ frm.pwd.label }}</td>
                <td>{{ frm.pwd }}</td></tr>
                {% for error in frm.pwd.errors %}
                    <div>
                    {{ error }}
                    </div>
                    {% endfor %}
            </p>
            <p>
                <tr><td>{{ frm.npwd.label }}</td>
                <td>{{ frm.npwd }}</td></tr>
                {% for error in frm.npwd.errors %}
                    <div>
                    {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <tr><td>{{ frm.cnpwd.label }}</td>
                <td>{{ frm.cnpwd }}</td></tr>
                {% for error in frm.cnpwd.errors %}
                    <div>
                    {{ error }}
                    </div>
                {% endfor %}
            </p>
            
            
        </table>
        {% for msg in get_flashed_messages() %}
            <div align="center">
            {{ msg }}
            </div>
        {% endfor %}
        <br>
        <table align="center"><tr><td>{{ frm.enviar }}</td></tr></table>
        
        
        </form>
        
    </div>
    {% endblock %}
