{% extends "servicios.html" %}
{% block title %}Dashboard{% endblock %}
{% block grafico %}
<head>
    <script type="text/javascript">
      var sa= JSON.parse('{{sa | tojson | safe}}');
      var a= JSON.parse('{{a | tojson | safe}}');
      var uf= JSON.parse('{{uf | tojson | safe}}');
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
        ['ROL', 'No. de Usuarios'],
        ['SuperAdmin',     sa],
        ['Admin',     a],
        ['UsuarioFinal', uf],
        ]);

        var options = {
          title: 'Grafico de Usuarios',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
       
    </script>
  
{% endblock %}
{% block contentimg %}
{% if session.rol == "SuperAdmin" or session.rol == "Admin" %}
    <br><br><br>
    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    

{% else %}
    <div class="centrado"><h1>Acceso Denegado</h1></div>
{% endif %}
{% endblock %}