{% extends "servicios.html" %}
{% block title %}Eliminar Marca{% endblock %}
{% block contentimg %}
<br><br><br>
<form action="/marca/eliminar" method="post">
    {{ frm.hidden_tag() }}
    <table align="center">
        <p>
            <tr>
                <td>{{ frm.nom_linea.label }}</td>
                <td>{{ frm.nom_linea }}</td>
            </tr> 
        </p>
    </table>
    <br>
        {% for msg in get_flashed_messages() %}
            <div align="center">
            {{ msg }}
            </div >
        {% endfor %}
    <table align="center">
    <tr>
        <td>{{ frm.eliminar }}</td>
    </tr>
    </table>
</form>
<table align="center" cellspacing="2" cellpadding="20" border="1" bgcolor=dddddd>
    <thead>         
        <tr>
            <th>id Marca</th><th>Nombre</th><th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(long) %}
        <tr><td>{{rows[i][0]}}</td><td>{{rows[i][1]}}</td><td>{{rows[i][2]}}</td></tr>

    {% endfor %}
        
    </tbody>
</table>
{% endblock %}